@model List<SOLUDIAMAGHREB.Models.Declarationlh>


<div class="text-center" style="width:100%">
    <h4 class="display-4">DECLARATION SUR L’HONNEUR</h4>
    <div>
        <div class="card-header">
        </div>
        <div class="card-body">
            <a class="btn btn-success btn-sm" asp-action="GenerateDeclarationLH" asp-controller="Filemanager">
                Generate Declaration sur l'honneur
            </a>
            <hr />

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Numero de Declaration Lh</th>
                        <th>Date de Document</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var items in Model)
                    {
                        <tr>
                            <td>@items.NomberBordereau</td>
                            <td>@items.DateCreation.Date.ToShortDateString()</td>
                            <td>
                                <a class="btn btn-success btn-sm custom-button" asp-action="EditActEngage" asp-controller="Filemanager" asp-route-IdDeclar="@items.IdDeclar">Edit</a>
                                @*  <button class="btn btn-success" asp-action="EditActEngage" asp-controller="Filemanager" asp-route-IdActEngage="@items.IdactEng"  >Edit</button> *@


                                @* <!-- <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Home" asp-route-IdDetalleVenta="@items.IdDetalleVenta">Delete</a>--> *@
                                @* <a class="btn btn-primary btn-sm" asp-action="ViewPdf" asp-controller="Filemanager" asp-route-IdActEngage="@items.IdactEng">View</a> *@
                                <a id="btn-View" class="btn btn-info custom-button"
                                   href="javascript:void(0);"
                                   onclick="window.open('@Url.Action("ViewPdfDeclar", new { IdDeclar = items.IdDeclar })', '_blank');">Aperçu</a>
                                <a class="btn btn-primary btn-sm custom-button" asp-action="ImprimerDeclar" asp-controller="Filemanager" asp-route-IdDeclar="@items.IdDeclar">Print</a>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <style>
            .custom-button {
                font-size: 78%;
                text-align: center;
                padding: 10px;
            }
        </style>
        @section scripts {
            <script src="~/assets/js/app.js"></script>
            <!-- Include jQuery and Bootstrap JS if not already included in the layout -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
        }
        